<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Seedlingrounds</title>
    <%- include('../fragmente/head') %>
</head>
<body>
    <%- include('../fragmente/header') %>
    
    <main>
        DESPRE
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>