<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Seedlingrounds</title>
    <%- include('../fragmente/head') %>
</head>
<body>
    <%- include('../fragmente/header') %>
    <section id="galerie-statica">
        <h2 class="titlu">Galerie</h2>
        <%- include('../fragmente/galerie_statica') %>
    </section>
    <%- include('../fragmente/footer') %>
</body>
</html>