<a href="#welcome" class="logo-nav">
    <img src="/resurse/imagini/floare.png" alt="sigla">
    <span class="titlu">Seedlingrounds</span>
</a>
<nav>
    <label id="hamburger" for="ch-menu">
        <div class="burger-lines">
            <span></span>
            <span></span>
            <span></span>
        </div>   
    </label>
    <input type="checkbox" id="ch-menu"/>
    <ul class="meniu">
        <li>
            <a href="/index" class="acasa"> <div class="imag-icon" ><i class="fa-solid fa-house fa-flip"></i></div> <div class="text-icon">Acasa</div></a>
        </li> 
        <li>
            <a href="/produse"> <div class="imag-icon" ><i class="fa-solid fa-shop"></i></div> <div class="text-icon">Produse</div></a>
            <ul>
                <li><a href="/produse"><i class="fa-solid fa-list-ul"></i> Catalog</a></li>
                <li><a href="/produse?categorie=interior"><i class="fa-solid fa-cart-shopping"></i> Interior</a></li>
                <li><a href="/produse?categorie=exotic"><i class="fa-solid fa-cart-shopping"></i> Exotic</a></li>
                <li><a href="/produse?categorie=decorativ"><i class="fa-solid fa-cart-shopping"></i> Decorativ</a></li>
                <li><a href="/index#promotii"><i class="fa-solid fa-percent"></i> Promotii</a></li>
            </ul>
        </li>
        <li>
            <a href="/index"> <div class="imag-icon" ><i class="fa-solid fa-circle-info"></i></div> <div class="text-icon">Informatii</div></a>
            <ul>
                <li><a href="/index#orar"><i class="fa-solid fa-calendar"></i> Orar</a></li>
                <li><a href="/index#ghid"><i class="fa-solid fa-book-open"></i> Ghid</a></li>
                <li><a href="/index#index-intrebari"><i class="fa-solid fa-question"></i> Intrebari</a></li>
            </ul>
        </li>
        <li>
            <a href="/despre"> <div class="imag-icon" ><i class="fa-regular fa-user"></i></div> <div class="text-icon">Detalii</div></a>
            <ul>
                <li><a href="/despre#welcome"></i><i class="fa-regular fa-hand"></i> Bine ati venit</a></li>
                <li><a href="/despre#despre-noi"><i class="fa-regular fa-face-laugh-beam"></i> Despre Noi</a></li>
                <li><a href="/despre#anunturi"><i class="fa-solid fa-bullhorn"></i> Anunturi</a></li>
            </ul>
        </li>
    </ul>
</nav>
<header>
</header>