<a href="#welcome" class="logo-nav">
    <img src="/resurse/imagini/floare.png" alt="sigla">
    <span class="titlu">Seedlingrounds</span>
</a>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburgir.png" alt="menu">    
    </label>
    <input type="checkbox" id="ch-menu"/>
    <ul class="meniu">
        <li>
            <a href="#"> <div class="imag-icon" ><i class="fa-solid fa-house fa-flip"></i></div> <div class="text-icon">Acasa</div></a>
            <ul>
                <li><a href="#welcome"></i><i class="fa-regular fa-hand"></i> Bine ati venit</a></li>
                <li><a href="#despre-noi"><i class="fa-regular fa-face-laugh-beam"></i> Despre Noi</a></li>
                <li><a href="#anunturi"><i class="fa-solid fa-bullhorn"></i> Anunturi</a></li>
            </ul>
        </li> 
        <li>
            <a href="#"> <div class="imag-icon" ><i class="fa-solid fa-shop"></i></div> <div class="text-icon">Cumparaturi</div></a>
            <ul>
                <li><a href="#produse"><i class="fa-solid fa-list-ul"></i> Lista produse</a></li>
                <li><a href="#catalog-produse"><i class="fa-solid fa-cart-shopping"></i> Catalog</a></li>
                <li><a href="#promotii"><i class="fa-solid fa-percent"></i> Promotii</a></li>
            </ul>
        </li>
        <li>
            <a href="#"> <div class="imag-icon" ><i class="fa-solid fa-circle-info"></i></div> <div class="text-icon">Informatii</div></a>
            <ul>
                <li><a href="#orar"><i class="fa-solid fa-calendar"></i> Orar</a></li>
                <li><a href="#ghid"><i class="fa-solid fa-book-open"></i> Ghid</a></li>
                <li><a href="#index-intrebari"><i class="fa-solid fa-question"></i> Intrebari</a></li>
            </ul>
        </li>
        <li>
            <a href="#"> <div class="imag-icon" ><i class="fa-regular fa-user"></i></div> <div class="text-icon">Autentificare</div></a>
        </li>
    </ul>
</nav>
<header>
</header>